{{>licenseInfo}}
package {{packageName}}

{{#apiInfo}}
    // this file overrides default template.
    // default template is below.
    // @see https://github.com/OpenAPITools/openapi-generator/blob/463d905664498ac0c4006a4b888c39c9359dbcba/modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Paths.kt.mustache
    object Paths {
    {{#apis}}
        const val basePath = "{{basePathWithoutHost}}"
        {{#operations}}
            {{#operation}}
                /**{{#summary}}
                    * {{summary}}{{/summary}}
                * {{#unescapedNotes}}{{.}}{{/unescapedNotes}}
                */
                const val {{operationId}} = "$basePath{{path}}"
            {{/operation}}
        {{/operations}}
    {{/apis}}
    }
{{/apiInfo}}
