import kotlinx.serialization.Serializable

/**
* {{{description}}}
{{#vars}}
    * @param {{name}} {{{description}}}
{{/vars}}
*/
// this file overrides default template.
// default template is below.
// @see https://github.com/OpenAPITools/openapi-generator/blob/463d905664498ac0c4006a4b888c39c9359dbcba/modules/openapi-generator/src/main/resources/kotlin-server/data_class.mustache
@Serializable
data class {{classname}}(
{{#requiredVars}}
    {{>data_class_req_var}}{{^-last}},
    {{/-last}}{{/requiredVars}}{{#hasRequired}}{{#hasOptional}},
{{/hasOptional}}{{/hasRequired}}{{#optionalVars}}{{>data_class_opt_var}}{{^-last}},
{{/-last}}{{/optionalVars}}
)
{{#vendorExtensions.x-has-data-class-body}}
    {
{{/vendorExtensions.x-has-data-class-body}}
{{#hasEnums}}
    {{#vars}}
        {{#isEnum}}
            /**
            * {{{description}}}
            * Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
            */
            enum class {{nameInCamelCase}}(val value: {{dataType}}){
            {{#allowableValues}}
                {{#enumVars}}
                    {{&name}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
                {{/enumVars}}
            {{/allowableValues}}
            }
        {{/isEnum}}
    {{/vars}}
{{/hasEnums}}
{{#vendorExtensions.x-has-data-class-body}}
    }
{{/vendorExtensions.x-has-data-class-body}}
