name: Delivery

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    branches:
      - 'main'

jobs:
  check_changes:
    name: Check file changes
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.changes.outputs.backend }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            backend:
              - 'backend/**'

  deploy_backend:
    name: Deploy Backend
    runs-on: ubuntu-latest
    needs: check_changes
    if: github.event_name == 'workflow_dispatch' || needs.check_changes.outputs.backend == 'true'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: git setting
        run: |
          git config --local user.email "10195648+hmiyado@users.noreply.github.com"
          git config --local user.name "hmiyado"

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build distribution app
        working-directory: backend
        run: ./gradlew clean installDist

      - name: Set New Version
        run: echo new_version="$(cat backend/build/generated/version.txt)" >> "$GITHUB_ENV"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./backend
          push: true
          tags: miyado/kottage:latest, miyado/kottage:${{ env.new_version }}