name: CI Lint

on: [pull_request]

jobs:
  run_lint:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_EDITORCONFIG: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_GROOVY: true
          VALIDATE_JSON: true
          VALIDATE_KOTLIN: true
          VALIDATE_MARKDOWN: true
          VALIDATE_OPENAPI: true
          VALIDATE_SHELL_SHFMT: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
