name: CI Test

on: [pull_request]

jobs:
  check_files:
    name: Check files to run test
    runs-on: ubuntu-latest
    outputs:
      shouldRunTest: ${{ steps.shouldRunTest.outputs.shouldRunTest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check should run test
        id: shouldRunTest
        run: |
          git diff --name-only "$BASE_SHA"
          TEST_TARGET_FILE_COUNT="$(git diff --name-only $BASE_SHA | grep -cvE '^.github|^infra|README.md')" || true
          echo "TEST_TARGET_FILE_COUNT=${TEST_TARGET_FILE_COUNT}"
          if [ "${TEST_TARGET_FILE_COUNT}" -ne 0 ]; then
            echo "::set-output name=shouldRunTest::true"
          else
            echo "::set-output name=shouldRunTest::false"
          fi
        env:
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
  run_test:
    name: Run Test
    runs-on: ubuntu-latest
    needs:
      - check_files
    if: ${{ needs.check_files.outputs.shouldRunTest }} == true
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      # https://github.com/actions/setup-java
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Prepare env
        run: |
          mv .ci.env .env
          mv .ci.db-env .db-env

      - name: Run Server
        run: sh scripts/run-on-docker.sh

      - name: Run Test
        run: ./gradlew test
